{% extends "base.html" %}
{% block content %}

<h2>Explore Skills</h2>

<form method="POST" action="{{ url_for('explore') }}">
  <input type="text" name="query" placeholder="Search skills..." required>
  <button type="submit">Search</button>
</form>

<ul>
{% for s in skills %}
    <li class="skill-card">
       <strong>{{ s.skill_name }}</strong> — taught by {{ s.teacher }}
        <br>
        Cost: {{ s.points_spend }} points
        <br>
        <a href="{{ url_for('schedule_session', skill_id=s.skill_id) }}"><button>Schedule Session</button></a>
    </li>
{% endfor %}
</ul>

{% endblock %}
